:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #A71930;
    --secondary-color: #525b0f;
    --tertiary-color: #a4b8c4;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

nav {
    background-color: var(--tertiary-color);
}

#navmenu {
    color: var(--dark-grey);
    display: inline-flex;
    flex-direction: row;
    margin-right: 1rem;
}

#navmenu li {
    margin-right: 3rem;
    list-style: none;

}

body {
    font-family: Helvetica, sans-serif;
    background-color: #23242a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.container {
    width: 600px;
    min-height: 400px;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.nickName {
    color: white;
    margin: 1rem;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

#save-model {
    margin: auto;

}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a46 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

.hidden {
    display: none;
}

.myCarList {
    /* display: flex;
    flex-direction: column; */
    min-height: 60px;

}

.carlist:nth-child(odd) {
    background-color: #9fa5b5;
}

.carlist {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    /* border: black 1px solid; */
}

.carlist p {
    min-width: 8rem;
    margin-left: 1rem;
}

.choosecar {
    min-width: 80px;
    /* color: var(--tertiary-color); */
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    margin: 5px 0 5px 0;
}

.choosecar:hover {
    border-radius: 4rem;
}

#carinfo {
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#carinfo p {
    margin-left: 1rem;
}

.maintentry {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
}
.maintentry button{
    margin-top: 2rem;
    height: 68px;
}